<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.oigami.twimpt">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".DataApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RoomListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".PostActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".RecentRoomActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".RoomActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow"/>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:scheme="http"
                    android:host="twist.twimpt.com"/>
                <data android:pathPrefix="/public"/>
                <data android:pathPrefix="/monologue"/>
                <data android:pathPrefix="/user/"/>
                <!--<data android:pathPrefix="/log/"/>-->
                <data android:pathPrefix="/room/"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageViewActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow"/>
        </activity>
        <activity
            android:name=".TwimptAuthActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:scheme="twimpt"
                    android:path="/"/>
            </intent-filter>
        </activity>
        <!-- PreferenceActivity -->

    </application>

</manifest>
